body {
  margin: 0;
  font-family: 'karla', sans-serifs;
}

nav {
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(0.25turn, #672280, #A626D3)
  #672280;
  color: white;
  padding-right: 30px;
}

h1 {
  font-size: 21px;
  margin-left: 5px;
}

h2 {
  font-size: 12px;
  text-align: right;
  margin-left: auto;
  font-weight: 400;
}

.meme-icon {
  margin-left: 10px;
  width: 30px;
}